input[type="range"] {
  appearance: none;
  background-color: #1ad298f4;
}
.canvas-style {
  max-width: 100%;
  border: 1px ridge;
  border-radius: 0.3em;
}
.editable-image {
  display: none;
  max-width: 100%;
}
.image-div {
  max-width: 100%;
  width: 600px;
  height: 460px;
}
.label-button {
  background-color: #5a9fca;
  width: 20px;
  height: 20px;
  transition: 0.2s;
}
.label-button:hover {
  background-color: #63bdea;
}
.input-load {
  display: none;
}
.slider {
  width: 200px;
}
