@import url("normalize.css");
body {
  background-color: #f8f8ff;
}
a:hover,
a:active,
a {
  cursor: inherit;
  text-decoration: none;
  color: rgb(0, 0, 0);
  user-select: none;
}
.app {
  height: 100vh;
  height: 100svh;
  display: flex;
  flex-wrap: wrap;
}
button {
  appearance: none;
  border: none;
}
input[type="range"] {
  appearance: none;
  outline: none;
  width: 774px;
  margin: 0;
  cursor: pointer;
  height: 15px;
  background-color: inherit;
}
input[type="range"]::-webkit-slider-thumb {
  appearance: none;
  width: 15px;
  height: 15px;
  margin-top: calc(-7px / 2);
  background-color: #ffa4a4;
  border-radius: 100%;
}
input[type="range"]::-webkit-slider-runnable-track {
  appearance: none;
  height: 7px;
  background-color: black;
  border-radius: 200px;
}
.header {
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  width: 100%;
  height: 83px;
  align-self: stretch;
  display: flex;
  justify-content: space-between;
}
.left-side {
  margin-left: 21px;
  display: flex;
  align-items: center;
}
.right-side {
  margin-right: 32px;
  display: flex;
  align-items: center;
  font-size: 20px;
}
.right-side p {
  margin: 0 5px 0 5px;
}
.main-bar {
  margin-top: 23.5px;
  display: flex;
  flex-wrap: wrap;
  flex: 1;
}
.canvas-area {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  position: relative;
  flex: 1;
}
.canvas-style {
  border: 1px ridge;
}
.image-div {
  width: 774px;
  height: 439px;
  position: absolute;
  top: 23px;
}
.canvas-interaction {
  position: relative;
  display: flex;
  min-width: 774px;
  justify-content: space-between;
}
.editable-image {
  display: none;
  max-width: 100%;
}
.canvas-container {
  background-color: white;
}
.slider-area {
  cursor: pointer;
  margin-top: 31px;
  max-width: 774px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.range-value-display {
  margin-top: -25px;
  position: absolute;
}
.slider {
  position: relative;
}
.flex-left-side-canvas-nav {
  display: flex;
  gap: 10px;
}
.flex-right-side-canvas-nav {
  display: flex;
  gap: 10px;
}
.flex-middle-side-canvas-nav {
  display: flex;
  gap: 10px;
}
.canvas-interaction-button {
  background-color: #fff;
  font-size: 14px;
  box-sizing: border-box;
  width: 77px;
  height: 22px;
  transition: 0.2s;
  padding: 0 13px 0 13px;
  border: 1.5px solid rgba(0, 0, 0, 1);
  text-align: center;
}
.canvas-interaction-button span {
  display: block;
  width: 54px;
}
.canvas-interaction-button-svg {
  background-repeat: no-repeat;
  background-position: center;
  background-color: #fff;
  font-size: 14px;
  width: 43px;
  height: 22px;
  transition: 0.2s;
  padding: 0 13px 0 13px;
  border: 1.5px solid rgba(0, 0, 0, 1);
  text-align: center;
}
.canvas-interaction-button-svg:last-child {
  width: 27.5px;
}
.canvas-interaction-button:hover {
  background-color: #63bdea;
}
.input-load {
  display: none;
}
.editor-menu {
  margin-top: 23.5px;
  margin-left: 2px;
  width: 98px;
  display: flex;
  flex-direction: column;
  gap: 27px 0px;
  order: -2;
  flex: 1;
  align-items: center;
}
.menu-btn {
  background-color: inherit;
  background-repeat: no-repeat;
  background-position: top;
  min-width: 120px;
  height: 53px;
  font-size: 16px;
  position: relative;
  display: flex;
  justify-content: center;
  border-width: 1px 0;
  border-color: transparent;
  border-style: solid;
  transition: 0.2s;
}
.transform {
  background-image: url(../../assets/icon/transform.svg);
}
.fine-tuning {
  background-image: url(../../assets/icon/fine-tuning.svg);
}
.filter {
  background-image: url(../../assets/icon/filter.svg);
}
.text {
  background-image: url(../../assets/icon/text.svg);
}
.resize {
  background-image: url(../../assets/icon/resize.svg);
}
.ai-tools {
  background-image: url(../../assets/icon/ai-tools.svg);
  width: 100%;
}
.ai-tools:hover {
  width: 90%;
}
.menu-btn-label {
  position: absolute;
  top: 36px;
}
.menu-btn:hover {
  border-color: rgba(147, 54, 240, 0.3);
  transform: scale(1.1);
}
.ai-tools-side {
  margin-top: 23.5px;
  margin-right: 10px;
  min-width: 150px;
  display: flex;
  flex-direction: column;
  flex: 1;
}
.back {
  background-image: url(../../assets/icon/back-arrow.svg);
}
.next {
  background-image: url(../../assets/icon/next-arrow.svg);
}
.list-of-changes {
  background-image: url(../../assets/icon/list.svg);
}
.traget-rest {
  transition: 0.2s;
}
.traget-rest:hover {
  background-color: rgba(255, 68, 68, 0.7);
}
.filter-button {
  border-top: 1px solid transparent;
  width: 774px;
  height: 64px;
  display: flex;
  align-items: center;
  gap: 16px;
  overflow: auto;
  margin-bottom: 10px;
}
.cropper-button {
  border-top: 1px solid transparent;
  width: 774px;
  height: 64px;
  display: flex;
  align-items: center;
  gap: 16px;
  overflow: auto;
  margin-bottom: 10px;
}
.crop-btn {
  display: inline-block;
  color: #fff;
  background-color: #5f5c8a;
  min-width: 90px;
  min-height: 25px;
  border-radius: 13px;
}
.Filter-button {
  display: inline-block;
  color: #fff;
  background-color: #5f5c8a;
  min-width: 90px;
  min-height: 25px;
  border-radius: 13px;
}
.resize-button {
  margin-top: 46px;
  padding-bottom: 46px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}
.preset-filter-div {
  border-top: 1px solid;
  margin-top: 46px;
  width: 774px;
  height: 64px;
  display: flex;
  align-items: center;
  gap: 16px;
  overflow: auto;
  margin-bottom: 10px;
}
.preset-filter-btn {
  appearance: none;
}
.preset-filter-label {
  user-select: none;
  min-width: 90px;
  text-align: center;
  display: inline-block;
  color: #fff;
  background-color: #5f5c8a;
  min-height: 25px;
  max-height: 40px;
  border-radius: 13px;
  transition: 0.2s;
}
.preset-filter-btn:checked + .preset-filter-label {
  background-color: rgba(255, 68, 68, 0.7);
  color: black;
}
.text-func-div {
  border-top: 1px solid;
  border-bottom: 1px solid;
  margin-top: 46px;
  margin-bottom: 10px;
  width: 774px;
  height: 64px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.drop-text-area {
  position: relative;
}
.text-filed-btn-div {
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 2px;
  align-items: end;
  left: -45px;
  bottom: 30px;
  visibility: hidden;
  opacity: 0;
  transition: 0.3s;
}
.text-func-btn {
  display: inline-block;
  min-width: 90px;
  max-width: 90px;
  height: 25px;
  color: #fff;
  background-color: #5f5c8a;
  border-radius: 13px;
  transition: 0.2s;
}
.add-text-func-btn {
  display: inline-block;
  min-width: 90px;
  max-width: 90px;
  height: 25px;
  color: #fff;
  background-color: #5f5c8a;
  border-radius: 13px;
  transition: 0.2s;
}
.input-text-field {
  width: 180px;
  resize: none;
}
.arrow {
  border: solid white;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(45deg);
  transition: 0.3s;
}
.ai-tools-bar {
  position: relative;
  display: flex;
  justify-content: center;
}
.suite-ai-tools {
  position: absolute;
  left: 4px;
  top: -37px;
  pointer-events: none;
  opacity: 0;
  visibility: hidden;
  display: flex;
  flex-direction: column;
  transition: linear 0.3s;
  width: 100%;
  gap: 2px 0;
}
.close-cross {
  font-size: 30px;
  cursor: pointer;
  user-select: none;
}
.close-btn-block {
  text-align: end;
  transition: 0.3s;
}
.close-btn-block:hover {
  background-color: rgba(144, 144, 144, 0.5);
}
.create-image-block {
  position: relative;
  min-height: 0;
  transition: 0.5s;
}
.func-block-create-image {
  width: 100%;
  position: absolute;
  top: 60px;
  right: 0;
  visibility: hidden;
  opacity: 0;
  display: flex;
  flex-flow: column wrap;
  gap: 15px;
}
.generate-image-box {
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: end;
  padding-bottom: 3px;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-bottom: 1px;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.4);
}
.create-image-textarea {
  width: 80%;
  min-height: 50px;
  resize: none;
  position: relative;
  border: 2px solid;
}
.textarea-side-bar {
  position: absolute;
  border-right: 2px solid;
  border-bottom: 2px solid;
  background-color: #fff;
  top: 46px;
  right: 10px;
  transform: rotate(45deg);
  border-radius: 3px;
  height: 20px;
  width: 20px;
}
.ai-submit-btn {
  border: none;
  display: inline-block;
  min-width: 90px;
  max-width: 90px;
  height: 25px;
  color: #fff;
  background-color: #5f5c8a;
  border-radius: 13px;
  transition: 0.2s;
}
.ai-submit-btn:active {
  background-color: rgba(255, 68, 68, 0.7);
  color: black;
}
.ai-btn {
  width: 100%;
  height: 53px;
  background-color: inherit;
  border: 1px solid black;
  position: relative;
}
.ai-btn span,
i {
  position: relative;
  z-index: 2;
}
.ai-btn::after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 0;
  height: 52px;
  background: #ff003b;
  transition: all 0.35s;
}
.ai-btn:hover,
.ai-btn:hover i {
  color: #fff;
  border-color: #fff;
}
.ai-btn:hover::after {
  width: 100%;
}
.select-style {
  border: none;
  outline: none;
  width: 70%;
}
.list-of-syle-side {
  font-size: 18px;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-bottom: 1px;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.4);
}
.ai-arrow {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(45deg);
  transition: 0.3s;
}
.hide {
  visibility: hidden;
  opacity: 0;
}
.show {
  visibility: visible;
  opacity: 1;
  transition: 1s;
  pointer-events: auto;
}
.up {
  transform: rotate(-135deg);
}
.deactivate {
  display: none;
}
.fix-image {
  position: fixed;
  left: 50%;
  top: 50%;
  display: none;
}
.increased-height {
  min-height: 230px;
}
